<html lang="en">
    <head>
        <title>Invoices</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="images/favicon.png" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="css/style.css" rel="stylesheet" />
        <link
            href="https://www.nerdfonts.com/assets/css/webfont.css"
            rel="stylesheet"
        />
        <script src="js/theme_toggle.js"></script>
        <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.min.js"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.14/dist/_hyperscript.min.js"></script>
    </head>
    <body>
        <main>
            <header>
                <div class="logo">
                    <img src="/images/favicon.png" alt="canine-club-logo" />
                    <h1>Canine Club</h1>
                </div>
                <div class="right">
                    <button
                        class="theme-toggle"
                        _="on click call toggleTheme()"
                    >
                        <i class="nf nf-fa-moon"></i>
                    </button>
                    <button
                        class="btn-add"
                        hx-get="/dogs/add"
                        hx-target="body"
                        hx-swap="beforeend"
                    >
                        ADD
                    </button>
                </div>
            </header>
            <div>{{ template "dogs" . }}</div>
        </main>
        <div class="version-badge">
            <!-- x-release-please-start-version -->
            v3.0.1
            <!-- x-release-please-end -->
        </div>
    </body>
</html>
