<!doctype html>
<html lang="en">
    <head>
        <title>Invoices</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="icon"
            href="https://em-content.zobj.net/source/google/350/dollar-banknote_1f4b5.png"
        />
        <script
            src="https://unpkg.com/htmx.org@1.9.6"
            integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
            crossorigin="anonymous"
        ></script>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <main>
            <div class="md:container md:mx-auto">
                <br />
                <h1 class="text-3xl">Invoices</h1>
                <div>{{ template "dogs" . }}</div>
            </div>
        </main>
    </body>
</html>
