<div
    id="modal"
    _="on closeModal add .closing then wait for animationend then remove me"
>
    <div class="modal-underlay" _="on click trigger closeModal"></div>
    <div class="modal-content">
        <h1>Edit {{.Name}}</h1>
        <input
            type="text"
            name="name"
            placeholder="Name"
            data-include-edit=""
            value="{{.Name}}"
        />
        <input
            type="text"
            name="ownerName"
            placeholder="Owner Name"
            data-include-edit=""
            value="{{.OwnerName}}"
        />
        <input
            type="text"
            name="address"
            placeholder="Address"
            data-include-edit=""
            value="{{.Address}}"
        />
        <input
            type="text"
            name="city"
            placeholder="City"
            data-include-edit=""
            value="{{.City}}"
        />
        <input
            type="text"
            name="email"
            placeholder="Email"
            data-include-edit=""
            value="{{.Email}}"
        />
        <input
            type="text"
            name="grouping"
            placeholder="Grouping"
            data-include-edit=""
            value="{{.Grouping}}"
        />

        <div id="services-container" data-include-edit="">
            {{range $index, $service := .Services}}
            <div class="service-entry">
                <input
                    type="text"
                    name="services[{{$index}}].service"
                    placeholder="Service"
                    value="{{$service.Service}}"
                />
                <input
                    type="number"
                    name="services[{{$index}}].quantity"
                    placeholder="Quantity"
                    value="{{$service.Quantity}}"
                />
                <input
                    type="number"
                    step="0.01"
                    name="services[{{$index}}].price"
                    placeholder="Price"
                    value="{{$service.Price}}"
                />
                <button
                    type="button"
                    class="btn-danger"
                    onclick="
                        this.closest('.service-entry').remove();
                        const services = document.getElementById('services-container');
                        const entries = services.getElementsByClassName('service-entry');
                        for (let i = 0; i < entries.length; i++) {
                            const inputs = entries[i].getElementsByTagName('input');
                            for (let input of inputs) {
                                input.name = input.name.replace(/services\[\d+\]/, `services[${i}]`);
                            }
                        }"
                >
                    <i class="nf nf-cod-trash"></i>
                </button>
            </div>
            {{end}}
        </div>

        <button
            type="button"
            class="btn-primary"
            onclick="
                const container = document.getElementById('services-container');
                const template = '<div class=\'service-entry\' data-include-edit>' +
                    '<input type=\'text\' name=\'services[0].service\' placeholder=\'Service\' value=\'\' />' +
                    '<input type=\'number\' name=\'services[0].quantity\' placeholder=\'Quantity\' value=\'\' />' +
                    '<input type=\'number\' step=\'0.01\' name=\'services[0].price\' placeholder=\'Price\' value=\'\' />' +
                    '<button type=\'button\' class=\'btn-danger\' onclick=\'this.closest(&quot;.service-entry&quot;).remove()\'>' +
                        '<i class=\'nf nf-cod-trash\'></i>' +
                    '</button>' +
                '</div>';
                
                const newIndex = container.children.length;
                const newEntry = template.replace(/\[0\]/g, '[' + newIndex + ']');
                container.insertAdjacentHTML('beforeend', newEntry);"
        >
            +
        </button>

        <br />
        <br />
        <div class="action-buttons">
            <button
                class="btn-primary"
                _="on click trigger closeModal"
                hx-put="/dogs/{{.ID}}"
                hx-target="#dogs"
                hx-indicator="#spinner"
                hx-include="[data-include-edit]"
            >
                Save
            </button>
            <button
                class="btn-danger"
                _="on click trigger closeModal"
                hx-target="#dogs"
            >
                Cancel
            </button>
        </div>
    </div>
</div>
