<tr id="datarow-{{.ID}}" class="border-b dark:border-neutral-500">
    <td class="px-6 py-4">{{.ID}}</td>
    <td class="px-6 py-4">
        <input
            type="text"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            data-include-edit="{{.ID}}"
            name="name"
            value="{{.Name}}"
        />
    </td>
    <td class="px-6 py-4">
        <input
            type="text"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            data-include-edit="{{.ID}}"
            name="ownerName"
            value="{{.OwnerName}}"
        />
    </td>
    <td class="px-6 py-4">
        <input
            type="text"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            data-include-edit="{{.ID}}"
            name="address"
            value="{{.Address}}"
        />
    </td>
    <td class="px-6 py-4">
        <input
            type="text"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            data-include-edit="{{.ID}}"
            name="city"
            value="{{.City}}"
        />
    </td>
    <td class="px-6 py-4">
        <input
            type="text"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            data-include-edit="{{.ID}}"
            name="email"
            value="{{.Email}}"
        />
    </td>
    <td class="px-6 py-4">
        <input
            type="text"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            data-include-edit="{{.ID}}"
            name="walksPerWeek"
            value="{{.WalksPerWeek}}"
        />
    </td>
    <td class="px-6 py-4">
        <input
            type="text"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            data-include-edit="{{.ID}}"
            name="pricePerWalk"
            value="{{.PricePerWalk}}"
        />
    </td>
    <td class="px-1 py-1">
        <a
            hx-put="/dogs/{{.ID}}"
            hx-target="#dogs"
            hx-indicator="#processing"
            hx-include="input[data-include-edit]"
            class="hover:underline text-blue-700"
            href=""
            >Save</a
        >
        <a
            hx-get="/dogs/"
            hx-target="#dogs"
            hx-indicator="#processing"
            href=""
            class="hover:underline text-blue-700"
            >Cancel</a
        >
    </td>
</tr>
