<tr id="datarow-add" class="border-b dark:border-neutral-500">
    <td class="px-6 py-4"></td>
    <td class="px-6 py-4">
        <input
            type="text"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            data-include-add=""
            name="name"
            value=""
        />
    </td>
    <td class="px-6 py-4">
        <input
            type="text"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            data-include-add=""
            name="ownerName"
            value=""
        />
    </td>
    <td class="px-6 py-4">
        <input
            type="text"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            data-include-add=""
            name="address"
            value=""
        />
    </td>
    <td class="px-6 py-4">
        <input
            type="text"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            data-include-add=""
            name="city"
            value=""
        />
    </td>
    <td class="px-6 py-4">
        <input
            type="text"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            data-include-add=""
            name="email"
            value=""
        />
    </td>
    <td class="px-6 py-4">
        <input
            type="text"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            data-include-add=""
            name="walksPerWeek"
            value=""
        />
    </td>
    <td class="px-6 py-4">
        <input
            type="text"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            data-include-add=""
            name="pricePerWalk"
            value=""
        />
    </td>
    <td class="px-1 py-1">
        <a
            hx-post="/dogs/"
            hx-target="#dogs"
            hx-indicator="#processing"
            hx-include="input[data-include-add]"
            class="hover:underline text-blue-700"
            href=""
            >Save</a
        >
        <a
            hx-get="/dogs/"
            hx-target="#dogs"
            hx-indicator="#processing"
            class="hover:underline text-blue-700"
            href=""
            >Cancel</a
        >
    </td>
</tr>
