<tr id="datarow-{{.ID}}">
    <td>{{.ID}}</td>
    <td>
        <input
            type="text"
            data-include-edit="{{.ID}}"
            name="name"
            value="{{.Name}}"
        />
    </td>
    <td>
        <input
            type="text"
            data-include-edit="{{.ID}}"
            name="ownerName"
            value="{{.OwnerName}}"
        />
    </td>
    <td>
        <input
            type="text"
            data-include-edit="{{.ID}}"
            name="address"
            value="{{.Address}}"
        />
    </td>
    <td>
        <input
            type="text"
            data-include-edit="{{.ID}}"
            name="city"
            value="{{.City}}"
        />
    </td>
    <td>
        <input
            type="text"
            data-include-edit="{{.ID}}"
            name="email"
            value="{{.Email}}"
        />
    </td>
    <td>
        <input
            type="text"
            data-include-edit="{{.ID}}"
            name="service"
            value="{{.Service}}"
        />
    </td>
    <td>
        <input
            type="text"
            data-include-edit="{{.ID}}"
            name="quantity"
            value="{{.Quantity}}"
        />
    </td>
    <td>
        <input
            type="text"
            data-include-edit="{{.ID}}"
            name="price"
            value="{{.Price}}"
        />
    </td>
    <td>
        <a
            hx-put="/dogs/{{.ID}}"
            hx-target="#dogs"
            hx-indicator="#processing"
            hx-include="input[data-include-edit]"
            href=""
            >Save</a
        >
        <a hx-get="/dogs/" hx-target="#dogs" hx-indicator="#processing" href=""
            >Cancel</a
        >
    </td>
</tr>
