<tr id="datarow-add">
    <td></td>
    <td>
        <input type="text" data-include-add="" name="name" value="" />
    </td>
    <td>
        <input type="text" data-include-add="" name="ownerName" value="" />
    </td>
    <td>
        <input type="text" data-include-add="" name="address" value="" />
    </td>
    <td>
        <input type="text" data-include-add="" name="city" value="" />
    </td>
    <td>
        <input type="text" data-include-add="" name="email" value="" />
    </td>
    <td>
        <input type="text" data-include-add="" name="service" value="" />
    </td>
    <td>
        <input type="text" data-include-add="" name="quantity" value="" />
    </td>
    <td>
        <input type="text" data-include-add="" name="price" value="" />
    </td>
    <td class="px-1 py-1">
        <a
            hx-post="/dogs/"
            hx-target="#dogs"
            hx-indicator="#processing"
            hx-include="input[data-include-add]"
            href=""
            >Save</a
        >
        <a hx-get="/dogs/" hx-target="#dogs" hx-indicator="#processing" href=""
            >Cancel</a
        >
    </td>
</tr>
