<tr id="datarow-{{.ID}}" class="border-b dark:border-neutral-500">
    <td class="px-6 py-4">{{.ID}}</td>
    <td class="px-6 py-4">{{.Name}}</td>
    <td class="px-6 py-4">{{.OwnerName}}</td>
    <td class="px-6 py-4">{{.Address}}</td>
    <td class="px-6 py-4">{{.City}}</td>
    <td class="px-6 py-4">{{.Email}}</td>
    <td class="px-6 py-4">{{.WalksPerWeek}}</td>
    <td class="px-6 py-4">{{.PricePerWalk}}</td>
    <td class="px-1 py-1">
        <a
            hx-get="/dogs/edit/{{.ID}}"
            hx-target="#datarow-{{.ID}}"
            hx-swap="outerHTML"
            hx-indicator="#processing"
            class="hover:underline text-blue-700"
            href=""
        >
            Edit
        </a>
        <a
            hx-delete="/dogs/{{.ID}}"
            hx-target="#dogs"
            hx-confirm="Are you sure you want to delete {{.Name}}?"
            hx-indicator="#processing"
            class="hover:underline text-blue-700"
            href=""
            >Delete</a
        >
        <a
            class="hover:underline text-blue-700"
            href="/invoice/{{.ID}}"
            rel="noopener noreferrer"
            target="_blank"
            >Preview</a
        >
        <a
            hx-post="/invoice/{{.ID}}"
            hx-target="#dogs"
            hx-indicator="#processing"
            class="hover:underline text-blue-700"
            href=""
            >Send</a
        >
    </td>
</tr>
