<tr id="datarow-{{.ID}}">
    <td>{{.ID}}</td>
    <td>{{.Name}}</td>
    <td>{{.OwnerName}}</td>
    <td>{{.Address}}</td>
    <td>{{.City}}</td>
    <td>{{.Email}}</td>
    <td>{{.Service}}</td>
    <td>{{.Quantity}}</td>
    <td>{{.Price}}</td>
    <td>
        <a
            hx-get="/dogs/edit/{{.ID}}"
            hx-target="#datarow-{{.ID}}"
            hx-swap="outerHTML"
            hx-indicator="#processing"
            href=""
        >
            Edit
        </a>
        <a
            hx-delete="/dogs/{{.ID}}"
            hx-target="#dogs"
            hx-confirm="Are you sure you want to delete {{.Name}}?"
            hx-indicator="#processing"
            href=""
            >Delete</a
        >
        <a
            class="hover:underline text-blue-700"
            href="/invoice/{{.ID}}"
            rel="noopener noreferrer"
            target="_blank"
            >Preview</a
        >
        <a
            hx-post="/invoice/{{.ID}}"
            hx-target="#dogs"
            hx-indicator="#processing"
            href=""
            >Send</a
        >
    </td>
</tr>
