name: Deploy Published Image
on:
  workflow_call:
  workflow_run:
    workflows: [Docker Build & Publish]
    types:
      - completed
jobs:
  update-docker-image:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: Update Docker Image & Restart
    runs-on: self-hosted
    steps:
      - run: cd /srv/docker/ccinvoice && docker compose pull && docker compose up -d --force-recreate
